html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1b4159;
}
#container {
  text-align: center;
  width: 100%;
}
#hero {
}
#hero img {
  width: 50%;
}
#word-display {
}
#word-display img {
  width: 35%;
}
.hidden {
  display: none;
}
.footerholder {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer {
  background: none repeat scroll 0 0 transparent;
  color: white;
  font: 20px Arial;
  height: 40px;
  margin: auto;
  width: 400px;
}
a {
  text-decoration: none;
}
